body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0; /* Szare tło dla całej strony */
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 40px auto; /* Dodano margines górny i dolny */
    overflow: hidden;
    padding: 20px;
    max-width: 800px; /* Maksymalna szerokość kontenera */
    background-color: #fff; /* Białe tło dla kontenera */
    border-radius: 10px; /* Zaokrąglone rogi kontenera */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtelny cień dla kontenera */
}


header {
    background: #50b3a2;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #ffffff;
    font-weight: bold;
}

.image-section {
    margin: 20px 0;
}

.image-section img {
    max-height: 250px; /* Maksymalna wysokość obrazu */
    width: auto; /* Szerokość automatycznie dostosowuje się do wysokości, zachowując proporcje */
    height: auto; /* Wysokość automatycznie dostosowuje się do szerokości, zachowując proporcje */
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-section h2 {
    margin-top: 0;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
}

input[type="file"] {
    margin-top: 20px;
}

input[type="submit"] {
    appearance: button;
    padding: 10px 15px;
    background: #50b3a2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background: #429587;
}

.input-url {
    width: 70%; /* Dostosuj szerokość według potrzeb */
    padding: 8px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
