<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Analiza Obrazu</title>
</head>
<body>
<div class="container">
    <h1>PhotoPeopleCounter</h1>
    <h4>Aplikacja do Wykrywania i Liczenia Osób na Zdjęciach</h4>
    <p class = "info-text"> Aplikacja, opracowana w języku Python i bazująca na klasyfikatorze kaskadowym Haar
        z biblioteki OpenCV, umożliwia identyfikację twarzy i zliczanie osób na zdjęciach.
        Dostępne są trzy metody przesyłania zdjęć do analizy: analiza domyślnego pliku dostępnego w
        aplikacji, wybór obrazu z dysku komputera oraz wprowadzenie adresu URL obrazu z internetu. </p>
    <p class = "info-text">Aplikacja została przygotowana w ramach zaliczenia modułu realizowanego w ramach studiów podyplomowych
        z zakresu "Uczenie Maszynowe i Data Science". autor: Joanna Maszybrocka </p>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Analizuj wczytany obraz">
    </form>

    <form action="/upload_url" method="post">
        <input type="text" name="image_url" class="input-url" placeholder="Wpisz adres URL obrazu">
        <input type="submit" value="Analizuj obraz z URL">
    </form>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    {% if original_example_image %}
    <div class="image-section">
        <h2>Przykładowy obraz przed analizą</h2>
        <img src="data:image/jpeg;base64,{{ original_example_image }}" alt="Original Example Image">
        <h2>Przykładowy obraz po analizie</h2>
        <img src="data:image/jpeg;base64,{{ processed_example_image }}" alt="Processed Example Image">
        <h2 class="custom-background">Liczba osób wykrytych na zdjęciu: {{ example_face_count }} </h2>
    </div>
    {% endif %}

    {% if original_image %}
     <div class="image-section">
        <h2>Twój obraz przed analizą</h2>
        <img src="data:image/jpeg;base64,{{ original_image }}" alt="Your Original Image">
        <h2>Twój obraz po analizie</h2>
        <img src="data:image/jpeg;base64,{{ processed_image }}" alt="Your Processed Image">
        <h2 class="custom-background">Liczba osób wykrytych na zdjęciu:  {{ face_count }} </h2>
     </div>
    {% endif %}

</div>
</body>

</html>
